@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
}
body{
    background-color: #7bdaf3;
    font-family: "Poppins", sans-serif;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    padding-top:3rem;
}
.note{
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 400px;
    margin: 20px;
    background-color: #fff;
}
.note .tools{
    background-color: #9ec862;
    padding: 0.5rem;
    display: flex;
    justify-content: flex-end;

}
.note .tools button{
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1rem;
    margin-left: 0.5rem;
    cursor: pointer;
}
.note .main{
    width: 400px;
    background-color: #eee;
    overflow: hidden;
    height: 400px;

}
.note textarea{
    outline: none;
    font-family: inherit;
    border: none;
    width: 400px;
    height:400px;
    font-size: 1.2rem;
}
.note .hidden{
    display: none;
}

.add {
    background-color: #9ec862;
    border-radius: 3px;
    color: white;
    padding: 0.5rem 1rem;
    margin: 2rem auto;
    border: none;
    position: fixed;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}
.add .hidden{
    display: none;
}