@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
}
body{
    flex-direction: column;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}
canvas{
    border: 1px solid #111;
}
.toolbox{
    padding: 1rem;
    display: flex;
    width: 603px;
    background-color: rgb(126, 19, 19);
    border: 1px solid rgb(126, 19, 19);
}
.toolbox > *{
    cursor: pointer;
    width: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
     border: none;
     margin:1px;
    height: 60px;
    background-color: #fff;
    font-size: 2rem;
    padding: 0.25rem;
}
.toolbox> *:last-child{
    margin-left: auto;
}